
    <ul id="slide-out" class="side-nav">

      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold">
            <a class="collapsible-header waves-effect waves-amber ">Tournament</a>
            <div class="collapsible-body">
              <ul>
                <li><%= link_to "Select from Listing", tournaments_path %></li>
                <li><%= link_to "New", new_tournament_path %></li>
              </ul>
            </div>
          </li>
          <li class="bold">
            <a class="collapsible-header">Players</a>
            <div class="collapsible-body">
              <ul>
                <li><%= link_to "New", "#!" %></li>
              </ul>
            </div>
          </li>
          <li class="bold">
            <a class="collapsible-header">Games</a>
            <div class="collapsible-body">
              <ul>
                <li><%= link_to "Round 1", href="#!" %></li>
                <li><a href="#!">Round 2</a></li>
                <li><a href="#!">Round 3</a></li>
                <li><a href="#!">Round 4</a></li>
              </ul>
            </div>
          </li>
          <li class="bold">
            <a class="collapsible-header">Reports</a>
            <div class="collapsible-body">
              <ul>
              </ul>
            </div>
          </li>

        </ul>
      </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
