<div class="row">
  <div class="col s12">
    <table class="c bordered">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      <h1>Standings</h1>
=======
      <h1>Players</h1>
>>>>>>> standings controller
=======
      <h1>Standings</h1>
>>>>>>> resolved merge conflicts from rebase
=======
      <h1>Standings</h1>
>>>>>>> d3d9e488246a0f68a492a809f3ab501f3fd2c620
      <thead>
        <tr>
          <th>Placing</th>
          <th>Name</th>
          <th>Rank</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="active-players">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        <% @players.each do |player| %>
        <%= render partial: "standings", locals: { player: player } %>
        <% end %>
=======
        <%= render partial: "standings", locals: { players: @players} %>
>>>>>>> standings controller
=======
        <% @players.each do |player| %>
        <%= render partial: "standings", locals: { player: player } %>
        <% end %>
>>>>>>> resolved merge conflicts from rebase
=======
        <% @players.each do |player| %>
        <%= render partial: "standings", locals: { player: player } %>
        <% end %>
>>>>>>> d3d9e488246a0f68a492a809f3ab501f3fd2c620
      </tbody>

    </table>
  </div>
