<div class="row">
  <div class="col s12">
    <table class="c bordered">
<<<<<<< HEAD

      <h1>Standings</h1>

=======
      <h1>Standings</h1>
>>>>>>> 5eb93fb4fef4b2c5b6ceec4930dbc4c8034d47dc
      <thead>
        <tr>
          <th>Placing</th>
          <th>Name</th>
          <th>Rank</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="active-players">

        <% @players.each do |player| %>
        <%= render partial: "standings", locals: { player: player } %>
        <% end %>
<<<<<<< HEAD
  
=======

>>>>>>> 5eb93fb4fef4b2c5b6ceec4930dbc4c8034d47dc
      </tbody>

    </table>
  </div>
