<div class="row">
  <div class="col s12">
    <table class="c bordered">
<<<<<<< HEAD
      <h1>Standings</h1>
=======
      <h1>Players</h1>
>>>>>>> standings controller
      <thead>
        <tr>
          <th>Placing</th>
          <th>Name</th>
          <th>Rank</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="active-players">
<<<<<<< HEAD
        <% @players.each do |player| %>
        <%= render partial: "standings", locals: { player: player } %>
        <% end %>
=======
        <%= render partial: "standings", locals: { players: @players} %>
>>>>>>> standings controller
      </tbody>

    </table>
  </div>
