<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text">
          <i class="material-icons">flash_on</i>
        </h2>
        <h5 class="center">Easily manage Go Tournaments</h5>

        <p class="light">This app will make it easy for everyone involved in the tournament, from the tournament director to the players. Understandable, quick and powerful user interface to keep you happy. </p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text">
          <i class="material-icons">group</i>
        </h2>
        <h5 class="center">Round Pairing Made Simple </h5>

        <p class="light">Manage pairings in an intuitive workflow. Text crucial information to players to keep them informed. Never miss a game because you did not get the information in time.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text">
          <i class="material-icons">settings</i>
        </h2>
        <h5 class="center">Customizable Settings</h5>

        <p class="light">Configure the tournament to work the way you want it to.  Control groupings, pairing paramaters, notifications and more. Setup tournament templates so that you don't need to remember everything every time.  Easily import and export players and results.</p>
      </div>
    </div>
  </div>
</div>
