<%= form_with model: result, id: "result-outcome-#{result.id}" do |f| %>
    <div class="input-field col s12">
      <%= f.select :outcome, [
        [Result.outcomes.keys.first.humanize, "undecided"],
        [Result.outcomes.keys.second.humanize, "white_won"],
        [Result.outcomes.keys.third.humanize, "black_won"],
        [Result.outcomes.keys.fourth.humanize, "white_forfeit"],
        [Result.outcomes.keys.fifth.humanize, "black_forfeit"],
        [Result.outcomes.keys.last.humanize, "draw"]
      ]
        %>
     </div>
  <%= f.submit "Save" %>
<% end %>

<!-- ,  { selected: result.outcome }, { onchange: "$('result-outcome').submit();" } -->
