<div class="container">
  <div class="row">
    <div class="col s12">
      <table class="bordered">
        <h4>Enter Game Results for Round <%= @round.number %>:</h4>
        <thead>
          <tr>
            <th>Table</th>
            <th>White</th>
            <th>Black</th>
            <th>Handicap</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody id="active-players">
          <%= render @games %>
          
        </tbody>

      </table>
    </div>
  </div>

</div>
