<div class="container">

  <h1>Players</h1>
  <table class="highlight">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>AGA #</th>
      </tr>
    </thead>

    <tbody>
      <%= render @players %>
    </tbody>
  </table>
</div>
